<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/header :: header}"></th:block>

    <div class="container content">
        <section>
            <h2>Chào mừng đến với trang thông tin sinh viên</h2>
        </section>
        
        <aside>
            <img src="/images/img1.jpg" alt="Student Image" th:src="@{/images/img1.jpg}">
            <p>Ảnh minh họa sinh viên</p>
        </aside>
    </div>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>